<h1> Requests </h1>
<h2>Requests Made</h2>
<ul id="requests_made">
  <% @requests_made.each do |single_request| %>
    <li class="item">
      <%= (Space.get(single_request.space_id)).name %>
      <%= single_request.check_in_date.strftime("%d/%m/%Y") %>
      <% if single_request.confirmed %>
        Confirmed
      <% else %>
        Not Confirmed
      <% end %>
    </li>
  <% end %>
</ul>
<br><br>
<h2>Requests Received</h2>
<ul id="requests_received">
  <% @requests_received.each do |single_request| %>
  <a href= "<%= "/requests/review/#{single_request.id}" %>" >

    <li>
      <%= (Space.get(single_request.space_id)).name %>
      <%= single_request.check_in_date.strftime("%d/%m/%Y") %>
      <%= (User.get(single_request.user_id)).email %>
      <% if single_request.confirmed %>
        Confirmed
      <% else %>
        Not Confirmed
      <% end %>
    </li>
  </a>

  <% end %>
</ul>
